<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="GPSContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\\db\\database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TCPEndpoint" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="HTTPEndpoint" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1338/GPS" binding="netTcpBinding" bindingConfiguration="TCPEndpoint" contract="ProjectService.IClientService" name="TCPEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-3SKV13A\Adam" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1337/GPS" binding="wsHttpBinding" bindingConfiguration="HTTPEndpoint" contract="ProjectService.IRemoteService" name="HTTPEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-3SKV13A\Adam" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>